@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://cdn.dribbble.com/users/1044993/screenshots/7441874/media/e2b92ee5c4613e956dd36ae0bc186ec0.png?resize=400x300&vertical=center" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Oops, you don't have access here.</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
