@model AnimalFormModel
@{
	ViewData["Title"] = "Add Animal";
}


<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_AnimalFormPartial" model= "@Model"/>

@section Scripts {
	<partial name= "_ValidationScriptsPartial"/>
}